.game__dino {
  width: 50px;
  height: 50px;
  background-image: url('../../../images/dino/dino-default.png');
  background-size: 50px;
  position: relative;
  top: 150px;
  left: 20px;
  animation: dinoAnimation .3s linear infinite forwards;
  animation-timing-function: steps(1, end);
}

@keyframes dinoAnimation {
  0% {
    background-image: url('../../../images/dino/dino-default.png');
  }

  25% {
    background-image: url('../../../images/dino/dino-run-1.png');
  }

  50% {
    background-image: url('../../../images/dino/dino-default.png');
  }
  75% {
    background-image: url('../../../images/dino/dino-run-2.png');
  }

  100% {
    background-image: url('../../../images/dino/dino-default.png');
  }
}

